{# Props: url, label, bg_color, text_color, custom_style #}
{% set url = url|default('#') %}
{% set label = label|default('Click here') %}
{% set bg_color = bg_color|default('#404040') %} {# ds-primary #}
{% set text_color = text_color|default('#ffffff') %}
{% set custom_style = custom_style|default('') %}
{% set font_family = "system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif" %}

<table cellpadding="0" cellspacing="0" style="font-family: {{ font_family }}; margin: 0; {{ custom_style }}">
  <tr>
    <td align="center" style="font-family: {{ font_family }}; border-radius: 6px; background-color: {{ bg_color }};" bgcolor="{{ bg_color }}">
      <a href="{{ url }}" target="_blank" style="font-family: {{ font_family }}; font-size: 14px; color: {{ text_color }}; text-decoration: none; padding: 10px 20px; border: 1px solid {{ bg_color }}; border-radius: 6px; display: inline-block; font-weight: 500;">
        {{ label }}
      </a>
    </td>
  </tr>
</table>